.friends {
  flex-grow: 1;
  height: 63px;
  background-image: url(../images/friends.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 10px;

  &__slider {
    flex-grow: 1;
    height: 63px;
    position: relative;
    overflow: hidden;
  }

  &__items {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    transition: left 0.3s;
    will-change: left;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    min-width: 50px;
    margin-right: 10.5px;
    background-image: url(../images/friend-bg.png);
    background-repeat: no-repeat;
  }

  &__arrow {
    &:disabled {
      opacity: 0.5;
    }

    &_left {
      margin-right: 5px;
    }
  }

  &__add {
    position: absolute;
    top: -9px;
    right: -7px;
  }
}
