.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s;

  &.show {
    opacity: 1;
    pointer-events: auto;

    .modal {
      &__content {
        transform: translateY(87.5px);
      }
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.52);
  }

  &__content {
    position: absolute;
    left: calc(50% - (523px / 2));
    z-index: 11;
    width: 523px;
    height: 455px;
    background-image: url(../images/modal-content.png);
    background-repeat: no-repeat;
    transition: transform 1s;
    will-change: top;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__title {
    height: 33px;
    margin-bottom: 60px;
    background-image: url(../images/modal-title.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    transform: translateY(-14px);
    color: #fff;
    font-size: 27px;
    line-height: 33px;
  }
}
